BOT_TOKEN=PASTE_BOT_TOKEN_HERE
ADMIN_IDS=123456789,987654321

SHOP_NAME=Cửa Hàng Key
SUPPORT_USERNAME=@your_support

BANK_CODE=ACB
BANK_ACCOUNT=123456789
BANK_NAME=TEN CHU TAI KHOAN

DB_PATH=shop.db
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=9000
SEPAY_WEBHOOK_SECRET=
